<section class="p-2.5 bg-[#161a1d]">
  <div class="max-w-container mx-auto">
    <div class="flex">
      <div class="float-left">
        <p class="text-[#8c8c8c] m-0 text-xs">
          <a class="text-[#c33b32] no-underline" href="/page/site/public/english/UOBKH_terms.htm" target="_blank"><u>Terms &amp; Conditions</u></a> | 
          <a class="text-[#c33b32] no-underline" href="/page/site/public/english/pdf/UOBKH_PrivacyPolicy.pdf" target="_blank"><u>Privacy Policy</u></a> | 
          Copyright ©2018 UOB Kay Hian Pte Ltd. All rights reserved. Company Registration number 197000447W. Market data and news provided by 
          <img class="inline" src="/sgu_reuterslogoblack.gif" width="83" height="20" align="absbottom">
        </p>
      </div>
    </div>
  </div>
</section>