<!-- top-navigation.component.html -->
<div class="bg-[#4e4e4e] text-white">
  <div class="top-header">
    <div class="max-w-container mx-auto">
      <div class="flex">
        <!-- Contact Information -->
        <div class="sm:w-full md:w-5/12">
          <ul class="info flex gap-2">
            <li class="inline-block text-white list-none mt-2.5 text-[13px]">
              <i class="fa fa-volume-control-phone text-[16px] text-[#c33b32] mr-[5px]" aria-hidden="true"></i>
              <a href="tel:65-6536-9338">+65 6536 9338</a>
            </li>
            <li class="inline-block text-white list-none mt-2.5 text-[13px] ">
              <i class="fa fa-envelope-o text-[16px] text-[#c33b32] mr-[5px]" aria-hidden="true"></i>
              <a href="mailto:contact@utrade.com.sg">contact&#64;utrade.com.sg</a>
            </li>
          </ul>
        </div>

        <!-- Navigation -->
        <div class="sm:w-1/2 md:w-7/12">
          <nav id="nav" class="relative mx-auto -ml-[60px]">
            <ul id="navigation2" class="mx-auto relative float-left bg-transparent">
              <li class="inline text-[14px] font-normal ml-[3px] p-0 float-left relative">
                <a href="#" class="px-6 py-2.5 text-white inline-block bg-none">You are in <b>UTRADE SINGAPORE</b> <i class="fa fa-caret-down ml-[5px]" aria-hidden="true"></i></a>
                <ul class="list-none m-0 p-0 invisible absolute z-[99999] w-[275px] bg-[#f8f8f8] shadow-[1px_1px_3px_#ccc] opacity-0 transition-opacity duration-200 ease-linear">
                  <li><a href="http://www.utrade.com.hk/" target="_top">UTRADE HONG KONG</a></li>
                  <li><a href="http://www.utrade.co.id/id/Default.aspx" target="_top">UTRADE INDONESIA</a></li>
                  <li><a href="https://www.utrade.com.my/" target="_top">UTRADE MALAYSIA</a></li>
                  <li><a href="https://www.utrade.co.th/" target="_top">UTRADE THAILAND</a></li>
                </ul>
              </li>
            </ul>

            <ul id="navigation" class="">
              <li>
                <a class="px-2.5 py-2 text-white no-underline inline-block bg-[#c33b32] transition-colors duration-200 ease-linear" href="#">Keycloak Login<i class="fa fa-caret-down ml-[5px]" aria-hidden="true"></i></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>